<div class="login-page-container">

  <div class="block left-part">
    &nbsp;
  </div>
  <div class="block right-part">
    <div class="login-form">
      <div class="title">
        Sign In To Your Account
      </div>
      <div class="input email">
        <input type="email" placeholder="Email" >
      </div>
      <div class="input password">
        <input type="password" placeholder="Password" >
      </div>
      <div class="button">
        <button type="button">SIGN IN</button>
      </div>

    </div>
  </div>
</div>
