.login-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .block {
    width: 50%;
    height: 100vh;

    &.left-part {
      background-color: gray;

    }

    &.right-part {
    background-color: white;
    // border-radius: 150px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
  }

  .title {
    font-size: 22px;
    margin: 6px;
  }

  .input {
    margin: 10px;
  }

  .button {
    margin-top: 16px;
    background-color: rgb(112, 43, 112);
    border-radius: 15px;
  }
}
