.login-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .block {
    width: 50%;
    height: 100vh;

    &.left-part {
      background-color: gray;

    }

    &.right-part {
    background-color: white;
    // border-radius: 150px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }
}
